.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #ffffff;
}

.logo {
    height: 50px;
}

.nav_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav_menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav_menu li a:hover {
    color: #007bff;
    border-bottom:2px solid #007bff;
}

