/* solo per questo esercizio utilizzero :global(#id) per scopo didattico, è generalmente sconsigliato
dato che la strategia del css a moduli punta allo scope locale del componente e gli id sono univoci
globalmente per questo il modo di utilizzarli dovrà essere diverso dalle classi */
:global(#main_div) {
    background-color: rgb(0, 128, 255);
    color: white;
    padding:20px 10%;
}

:global(#main_div) ul {
    display: flex;
    justify-content: space-between;
    
    text-decoration: none;
}

:global(#main_div) ul li {
    display: flex;
    gap:10px;
    align-items: center;
}

:global(#main_div) ul li a {
    color: white;
    text-decoration: none;
}

:global(#main_div) img {
    height: 50px;
    width: 55px;
}

:global(#main_div_products) {
  background-color: #28282b;
  padding: 50px 15%;
}

.comic_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.comic_card {        
  max-width: 300px;     
  margin-bottom: 20px;
  text-align: start;
  position:relative;
}

.comic_thumb {
  width: 150px;
  height:175px;
}

.comic_card h3 {
  font-size: 15px;
  position:absolute;
  height:75px;
  top:125px;
  width:100%;
  display:flex;
  align-items: center;
  background-color: #28282b;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .comic_card {
    width: 45%;         
  }
}


@media (min-width: 1024px) {
  .comic_card {
    width: 30%;          
  }
}


@media (min-width: 1428px) {
  .comic_card {
    width: 15%;          
  }
}