#main_div {
    background-color: rgb(0, 128, 255);
    color: white;
    padding:20px 10%;
}

#main_div ul {
    display: flex;
    justify-content: space-between;
    
    text-decoration: none;
}

#main_div ul li {
    display: flex;
    gap:10px;
    align-items: center;
}

#main_div ul li a {
    color: white;
    text-decoration: none;
}

#main_div img {
    height: 50px;
    width: 55px;
}

#main_div_products {
  background-color: #28282b;
  padding: 50px 15%;
  
}

.comics-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.comic-card {
  width: 15%;
  text-align: start;
  color: white;
  position:relative;
}

.comic-thumb {
  width: 150px;
  height:175px;
}

.comic-card h3 {
  font-size: 15px;
  position:absolute;
  height:75px;
  top:125px;
  width:100%;
  display:flex;
  align-items: center;
  background-color: #28282b;
  text-transform: uppercase;
}